* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font: 16px/1.5 "EB Garamond", Arial, sans-serif;
}

body {
  background-color: rgb(205, 209, 204);
  height: 100vh; 
  overflow-x: hidden; 
}

header, footer {
  background-color: rgba(56, 58, 53, 0.765);
  box-sizing: border-box;
}

footer {
  height: 100px; 
  overflow: hidden; 
}

header h1 {
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}

header ul {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  animation: move 10s linear infinite;
}

header a {
  font-size: 20px;
  color: rgb(37, 31, 40);
}

header ul:hover {
  animation-play-state: paused;
}

@keyframes move {
  0% { 
    transform: translate(0%);
  }

  33% {
    transform: translate(-60px);
  }

  66% {
    transform: translate(60px);
  }

  100% {
    transform: translate(0%);
  }
}

header li {
  margin: -5px 15px 10px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  margin: 5px 10px;
}

p {
  font-size: 20px;
  margin: 5px 10px;
  font-weight: normal;
  font-style: italic;
}

.skills li, .completed-project li, .educat-lang li {
  font-size: 20px;
  margin: 5px 10px;
  font-weight: normal;
}

h3 {
  font-size: 26px;
  margin: 5px 10px;
  font-weight: 500;
}

figure {
  display: flex;
  flex-flow: column;
  max-width: 250px;
  margin-left: 10px;
}
 
figure img {
  border-radius: 50%
}

figcaption {
  background-color: rgba(51, 49, 49, 0.7);
  color: #f7ebeb;
  font: italic smaller sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
}

pre {
  margin: -20px auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 128px;
}

.rs-logo {
  margin-left: 8px;
}

.social-links nav {
  margin-top: 50px;
  margin-left: -20px;
}

.social-links ul{
  display: flex;
  flex-direction: row; 
}

.social-links li {
  margin-right: 15px; 
  margin-left: 15px;
  transition: all 1s ease;
}

.social-links li:hover {
  transform: scale(200%) rotate(360deg);
  margin: auto 25px;
}

.created-date {
  align-self: flex-end;
}

.created-date p {
  font-size: 20px;
  font-weight: 500;
  padding-right: 30px;
  padding-bottom: 20px;
}

@media (max-width: 750px) {
  header, footer {
    width: 100%;
  }

  header ul {
    animation: none;
  }

  header li {
    margin: auto 5px;
  }
}

:target {
  animation: scale-animation 2s;
}

@keyframes scale-animation {
  0% {
    transform: scale(1);
  }

  25% {
    color: rgb(155, 35, 155);
  }

  50% {
    margin-left: 20px;
    transform: translate(300px) scale(1.5);
    color: rgb(189, 57, 189);
  }

  75% {
    color: rgb(210, 44, 210);
  }

  100% {
    transform: scale(1);
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  box-shadow: 0px 7px 7px 0px rgba(22, 22, 21, 0.82);
}

footer {
  box-shadow: 0px -7px 7px 0px rgba(22, 22, 21, 0.82);
}